

/* h1 {color: #7D5A5A;
    text-align: center;
    align-items: center;}

h2 {color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;}

h3 {color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;}

form {color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;}

Link {align-items: center;} */



