
#site-title {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Domine", Arial, sans-serif;
    font-size: calc(40px + 4vw);
    font-weight: 700;
    color: #7c7c7c;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}
#nav {
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    background-color: #eee5e9;
    border-bottom: 1px solid rgb(255, 255, 255); 
    border-top: 1px solid rgb(255, 255, 255); }

#nav li a {
        display: block;
        padding: 4px 8px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        border-right: 1px solid rgb(255, 255, 255); }

.sms-form {
    text-align: left;
    padding: 1em;
    }
.sms-form label {
display: block;
}
.sms-form input,
.sms-form textarea {
font-size: 1em;
width: 100%;
box-sizing: border-box;
}
.sms-form div {
margin-bottom: 0.5em;
}
.sms-form button {
font-size: 1em;
width: 100%;
}
.sms-form.error {
outline: 2px solid rgb(142, 218, 212);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine';
    color: #383d3b;
    font-weight: bold;
}

a {
    font-family: 'Domine';
    color: #383d3b
}
p {
    font-family: 'Roboto';
    color: #383d3b;
    font-size: 14pt;
}
.navbar {
    background-color: #383d3b;
    color: whitesmoke;
    width: 100%;
    line-height: 2.0;
}
.navbar-nav {
    margin-left: auto;
}
#navbarDropdown {
    background-color: #383d3b;
    color: whitesmoke;
}
#navbar-text {
    font-size: large;
    color: whitesmoke;
}

.btn-dark {
    background-color: #383d3b;
    border-color: #383d3b;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 14px;
}
.btn-lg {
    font-size: 16px;
}
btn-md {
    font-weight: 14px;
}
.btn-light {
    background-color: #7c7c7c;
    border-color: #7c7c7c;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 14px;
}
.btn-primary {
    background-color: #7c7c7c;
    border-color: #7c7c7c;
    color: whitesmoke;
}
.center {
    margin: auto;
}
#center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 1.0;
}
#left-text {
    text-align: left;
}
#center-text {
    text-align: center;
    width: 100%;
}
#center-form {
    text-align: center;
    width: 100%;
}
#mw-footer {
    padding-top: 20px;
}

#home-header {
    text-align: center;
}
#directory-header{
    width: 100%;
    padding: 50px;
}

.card-sm {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
.card {
    margin-bottom: 15px;
    margin-left: 15px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(3,auto);
}
#grid-2 {
    display: grid;
    grid-template-columns: repeat(2,auto);
}
#mw-info {
    padding-top: 100px;
}
#tron {
    background-color: #eee5e9;
    padding-left: 10%;
    padding-right: 10%;
}
#right-text {
    text-align: right;
}
#user-image {
    border-radius: 5px;
}
.card-header {
    background-color: #eee5e9;
}

/* body {
    background-image: image("static/img/home.jpeg") no-repeat center;
    background-size: cover;
    height: 100vh;
    cursor: none;
}

.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
        circle,
        transparent 160px,
        rgba(0, 0, 0, 0.85) 200px
    );
} */