#nav {
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    background-color: #f3e1e1;
    border-bottom: 1px solid rgb(255, 255, 255); 
    border-top: 1px solid rgb(255, 255, 255); }

#nav li a {
        display: block;
        padding: 4px 8px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        border-right: 1px solid rgb(255, 255, 255); }

.header {
    background-color: #f3e1e1;
    text-align: center;
    padding: 20px;
    }
