{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block js %}
  {# <script src="/static/js/homepage.jsx" type="text/jsx"></script> #}
{% endblock %}


{% block body %}
  <h1>Welcome!</h1>

  <h2></h2>
  <ul>
    <li><a href="/midwives">View all midwives</a></li>
  </ul>
  {% if not session %}
  <h2>Log-in</h2>
  
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Create an Account</h2>
  <form action="/register" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endif %}

{% endblock %}